.blog-post-body > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.blog-post-body div p > img {
  max-height: 350px;
  margin-left: -10%;
  width: 120%;
  object-fit: cover;
  align-self: center;
  border-radius: 4px;
}

.blog-post-body h2, .blog-post-body h3{
  align-self: flex-start;
}

.blog-post-body h2 {
  margin-left: -10%
}

.author-head-img {
  height: 40px;
  margin-right: 20px;
  user-select: none;
  filter: drop-shadow(1px 3px 2px #eee);
}

.social-icon {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 767px) {
  .blog-post-body div {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    box-sizing: border-box;
  }

  .blog-post-body p > img {
    max-height: 100px;
    width: 110%;
    margin-left: -5%;
    object-fit: cover;
  }

  .blog-post-body h2 {
    margin-left: 0;
  }
}
